body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px;
}

h1 {
    font: 42px;
    text-align: center;
    padding: 15px;
}


img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff;
}

div{
    /* flexible height here */
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}

h2 {
    font: 30px;
    color: #0D0D0D;
}

p {
    font: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

/* introduction class */
div.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2.0;
}
/* red class */
div.red {
    background-color: red;
    text-align: right;
    margin-left: 50px;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
    color: #ffffff;
}

div.red > p {
    color: #ffffff;
}
/* the blue div */
div.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

div.blue > h2, p {
    color:  #C4C4C4;
}

/* the yellow div */
div.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
}

div.yellow > p {
    color: #707070;
}

/* the green div */
div.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

div.green > h2 {
    color: #000000;
}

div.green > p {
    color: #ffffff;
}

footer {
    background-image: linear-gradient(to right, #000000, #0000ff, #0066ff, #000000);
    border: 5px solid #ffffff;
}

footer > p {
    font: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/* footer paragraphs */